body {
    background-color: rgba(104, 31, 5, 0.63);
}
#options {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 25px;
    font-size: 32px;
    max-width: 200px;
}
#results {
    text-align: center;
}